[Desktop Entry]
Name=Toggle DNS over TLS
Comment=Enable or disable DNS encryption
Exec=bash -c "~/toggle-dot.sh; read -p 'Press Enter to close...'"
Icon=network-workgroup
Terminal=true
Type=Application
Categories=Network;
